machine:
  id: 0                                                                                                                  # 机器ID

spring:
  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 200MB
  datasource:
    url: jdbc:mysql://localhost:3306/scrmstd?useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    username: root
    password:
    driver-class-name: com.mysql.cj.jdbc.Driver
  data:
    redis:
      host: 127.0.0.1
      port: 6379
      password:
      database: 0
      lettuce:
        pool:
          enabled: true
          max-active: 8
          max-idle: 8
          min-idle: 0
          max-wait: -1ms

mybatis:
  sql-print-to: c:/logs/scrm.sql
  mapper-locations:
    - classpath*:mapper/*.xml
    - classpath*:com/mayanshe/scrmstd/infrastructure/mapper/*.xml
  type-aliases-package: com.mayanshe.scrmstd.infrastructure.persistence.po
  configuration:
    map-underscore-to-camel-case: true
    lazy-loading-enabled: true
    aggressive-lazy-loading: false

sa-token:
  token-name: scrmstd
  timeout: 1296000
  active-timeout: -1
  is-concurrent: false
  is-share: false
  token-style: uuid
  is-log: true

storage:                                                                                                                 # 存储配置
  cos:                                                                                                                   # 对象存储配置
    provider:                                                                                                            # 对象存储提供者 (tencent/aliyun/huawei)
    uid:                                                                                                                 # 用户ID
    secret-id:                                                                                                           # 密钥ID
    secret-key:                                                                                                          # 密钥
    region:                                                                                                              # 存储区域
    bucket:                                                                                                              # 私读私写桶
    public-bucket:                                                                                                       # 公读私写桶
    duration-seconds:                                                                                                    # 临时密钥有效期，单位秒
    cdn-domain:                                                                                                          # CDN加速域名