<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mayanshe.scrmstd.infrastructure.persistence.mapper.FeatureMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO features (parent_id, feature_name, display_name, description, created_at, updated_at)
        VALUES (#{parentId}, #{featureName}, #{displayName}, #{description}, #{createdAt}, #{updatedAt})
    </insert>

    <update id="update">
        UPDATE features
        SET parent_id = #{parentId},
            feature_name = #{featureName},
            display_name = #{displayName},
            description = #{description},
            updated_at = #{updatedAt}
        WHERE id = #{id}
    </update>

    <update id="delete">
        UPDATE features
        SET deleted_at = #{deletedAt}
        WHERE id = #{id}
    </update>
</mapper>
